# Public vars, you can likely leave these the same:
DIGITALOCEAN_S3_ENDPOINT=https://sfo3.digitaloceanspaces.com
DIGITALOCEAN_S3_REGION=sfo3
DOKITO_S3_HTML_BUCKET=flaoq
OPENSCRAPERS_S3_OBJECT_BUCKET=openscrapers
DOKITO_INGEST_REDIS=http://localhost:6379

# should look something like: postgresql://username:password@aws-0-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require
DATABASE_URL=

DIGITALOCEAN_S3_ACCESS_KEY=
DIGITALOCEAN_S3_SECRET_KEY=
DEEPINFRA_API_KEY=
